<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSCamIQTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MSCamIQTool.Properties.Settings>
            <setting name="ClientHostName" serializeAs="String">
                <value>172.17.8.229</value>
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>9876</value>
            </setting>
            <setting name="ErrConnectionFail" serializeAs="String">
                <value>Connection Fail!!</value>
            </setting>
            <setting name="GuiGroupStartX" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GuiGroupStartY" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GuiGroupSpaceX" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GuiGroupSpaceY" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GuiNumScrollWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="GuiButtonWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="GuiParamNameWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="GuiBorderWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GuiRWButtonSpace" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MsgNotConnected" serializeAs="String">
                <value>Tool is not connected to camera</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>6000000</value>
            </setting>
            <setting name="ApiModeXmlFile" serializeAs="String">
                <value>I1_isp_api.xml</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value>\Image</value>
            </setting>
            <setting name="SaveRawName" serializeAs="String">
                <value>raw</value>
            </setting>
            <setting name="SaveIspOutputName" serializeAs="String">
                <value>ispout</value>
            </setting>
            <setting name="SaveJpegName" serializeAs="String">
                <value>image</value>
            </setting>
            <setting name="SaveScOuputName" serializeAs="String">
                <value>scout</value>
            </setting>
            <setting name="SendApiTimeout" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="LiveViewExe" serializeAs="String">
                <value>\Bin\ffplay.exe</value>
            </setting>
            <setting name="ApVersion" serializeAs="String">
                <value>2.01.62</value>
            </setting>
        </MSCamIQTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
